<section class="card text-bg-light border-dark mb-3">
    <div class="card-body">
        <h5 class="card-title d-flex justify-content-center p-2 bg-dark text-white">{{title}}</h4>
        <h6 class="card-subtitle mb-2 text-muted d-flex justify-content-end">Posted by: {{user.username}} on {{format_date date_posted}}</h5>
        <p class="card-text d-flex justify-content-start">{{content}}</p>
        <a class="card-link btn btn-secondary" href="/post/{{id}}">View post</a>
        {{#if isDashboard}}
        <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#delete-post-modal-{{id}}" id="delete-post-{{id}}">Delete post</button>
        {{/if}}
    </div>
</section>

{{#if isDashboard}}

<!-- Delete Post Modal -->
<div class="modal fade" id="delete-post-modal-{{id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Delete Post Confirmation</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Are you sure you want to delete your post "{{title}}"?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary confirm-delete" id="confirmDel-{{id}}">Confirm</button>
      </div>
    </div>
  </div>
</div>

{{/if}}